{% extends "base.html" %}

{% block content %}
<h1>Contact</h1>

<div class="contact-section">
    <p>Email: 
        <a href="mailto:srivastava03adi@gmail.com" target="_blank">
            srivastava03adi@gmail.com
        </a>
    </p>

    <p>GitHub: 
        <a href="https://github.com/Sri-Aditya03" target="_blank">
            Sri-Aditya03
        </a>
    </p>

    <p>LinkedIn: 
        <a href="https://www.linkedin.com/in/aditya-srivastava-922816372/" target="_blank">
            LinkedIn Profile
        </a>
    </p>
</div>

{% endblock %}
