{% extends "base.html" %}

{% block content %}

<h1>Experience</h1>

<div class="experience-section">

    <!-- Sarv.com -->
    <h2>Sarv.com — Software Developer Intern (2025 – Present)</h2>

<p class="xp-desc">
    I’m working as a backend developer at Sarv.com, a SaaS-based product company where the systems 
    we build are actually used by thousands of real customers. This has given me hands-on experience 
    with production-grade development, performance tuning, and how a real product team ships features.
</p>

<ul class="xp-list">
    <li>Building and maintaining core backend modules using <b>Python, FastAPI, Docker, and Elasticsearch, node.js, express.js</b>.</li>
    <li>Developing <b>search pipelines</b> and improving Elasticsearch indexing for faster, more accurate results.</li>
    <li>Designing clean, reusable API architectures and improving existing endpoints for speed and stability.</li>
    <li>Fixing production bugs, optimized slow requests.</li>
    <li>Working closely with senior developers and learning real-world practices like <b>logging, monitoring,</b> and deployments.</li>
</ul>


    <!-- Technoloader -->
    <h2>Technoloader — Python Developer Trainee (2024)</h2>

<p class="xp-desc">
    I worked as a Python trainee where I learned the basics of writing clean code, automating tasks, 
    and working with real project requirements. I built small scripts and 
    got comfortable using Python for practical problems.
</p>

    <ul class="xp-list">
    <li>Wrote basic Python scripts to automate small daily tasks.</li>
    <li>Worked with <b>Pandas</b> to read, clean, and format simple datasets.</li>
    <li>Learned how to organize code into functions and keep it easy to understand.</li>
    <li>Improved simple scripts by removing unnecessary loops and cleaning the logic.</li>
</ul>


    <!-- JMRC -->
    <h2>JMRC — Telecom & Signalling Intern (2023)</h2>
    <p class="xp-desc">
        Interned in the telecom, signalling, and railway automation division of Jaipur Metro Rail Corporation.
        Gained practical engineering knowledge of automated safety and signalling systems.
    </p>
    <ul class="xp-list">
        <li>Worked on metro signalling systems including <b>ATS (Automatic Train Supervision)</b>, 
            <b>ATO (Automatic Train Operation)</b>, and <b>ATP (Automatic Train Protection)</b>.</li>
        <li>Observed and studied the functioning of real-time railway automation systems.</li>
        <li>Learned about fail-safe design, industrial protocols.</li>
        <li>Gained exposure to large-scale infrastructure and real-world challenges.</li>
    </ul>

</div>

{% endblock %}
